@(id: String, talkForm: Form[models.Forms.TalkFormData], numberOfAuthors: Int)(implicit messages: Messages, request: RequestHeader)
@import b4.vertical.fieldConstructor

@layout("Edit talk") {
    <script src="@routes.Assets.versioned("javascripts/addAuthorGroup.js")"></script>
    <h1>Edit talk</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-2 column">
        @b4.horizontal.form(routes.Application.editTalk(id), "col-md-2", "col-md-10") { implicit hfc =>
            @b4.text(talkForm("title"), '_label -> "Title")
            @b4.url(talkForm("url"), '_label -> "URL")
            @b4.text(talkForm("location"), '_label -> "Location")
        <div id="authors-container">
            @for(index <- 0 until numberOfAuthors) {
                @helpers.authorInput(talkForm(s"authors[$index].name"), 'placeholder -> "Name")(talkForm(s"authors[$index].url"), 'placeholder -> "URL")(talkForm(s"authors[$index].avatar"), 'placeholder -> "Avatar")('_label -> "Author")
            }
        </div>
            @b4.date(talkForm("date"), '_label -> "Date")
            @b4.url(talkForm("thumbnail"), '_label -> "Thumbnail URL")

            @b4.submit('class -> "btn btn-primary"){ <span class="glyphicon glyphicon-ok"></span> Submit }
        }
        </div>
    </div>
}
