@(activeProjects: Seq[Project], incubatedProjects: Seq[Project])(implicit req: RequestHeader)
@allProjects = @{Map(Project.Active -> activeProjects, Project.Incubated -> incubatedProjects)}

@layout("Projects") {
    <h1>Projects</h1>
    <a href="@routes.Application.createProjectPage">Add another project</a>
    @allProjects.map{ case (status, projectList) =>
    <h2> @status </h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            @projectList.map{ project =>
                <tr id="@project.id">
                    <td><a href="@project.url">@project.title</a></td>
                    <td>@project.description</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="@routes.Application.editProjectPage(project.id)">Edit</a>
                        <button id="delete-project" class="btn btn-secondary btn-sm" value="@project.id">Delete</button>
                    </td>
                </tr>
            }
        </table>
    }
}

