@(talks: Seq[Talk])(implicit req: RequestHeader)

@layout("Talks") {
    <h1>Talks</h1>
    <a href="@routes.Application.createTalkPage">Add another talk</a>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Location</th>
                <th>Authors</th>
                <th>Actions</th>
            </tr>
        </thead>
        @talks.map{ talk =>
            <tr id="@talk.id">
                <td>@talk.title</td>
                <td>@talk.date.toString("dd-MM-yyyy")</td>
                <td>@talk.location</td>
                <td>
                @talk.authors.map { author =>
                    <a href="@author.url.getOrElse("")"><img src="@author.avatar.getOrElse("")" height="20"/>@author.name</a>
                }
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="@routes.Application.editTalkPage(talk.id)">Edit</a>
                    <button id="delete-talk" class="btn btn-secondary btn-sm" value="@talk.id">Delete</button>
                </td>
            </tr>
        }
    </table>
}

